@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  color: #0b0f19;
}
